.allCards {
  display: flex;
  flex-wrap: wrap;  
}

.card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;  
}

.btn {
  color: white;
  background-color:  rgb(121, 204, 121);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
}

.btnMenu {
  display:flex;
  justify-content: space-around;
  padding: 10px;
}

